{% extends 'base.html.twig' %}

{% block title %}Liste des bugs{% endblock %}

{% block body %}
<ul id="bugs_list">
    {% for bug in bugs %}
        <li><a href="/bug/{{ bug.id }}">{{ bug.title }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
