{% extends 'base.html.twig' %}

{% block title %}Consultation du bug {{ bug.id }}{% endblock %}

{% block body %}
        <h2>Your bug is {{ bug.id }}</h2>
        <p>Description : {{ bug.description }}</p>
{% endblock %}
